body{
    font-family: 'Montserrat', sans-serif;

}

.painel-resultados{
    display: grid;
    grid-template-areas: 'cartao cartao cartao' ;
    margin-left: 20px;
    padding: 0;

}

.localizacao{
    margin-left: 20px;

}
.cartao{
    width: 355px;
    height: 254px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    display: inline-block;
    grid-area: 'cartao';
    padding: 0;


}
.pontuacao-cartao{
    color:gray;
}
.tipo-cartao{
    color: gray;
}
.titulo-cartao{
    font-weight: bold;
}
.estrelinha{
    width: 15.5px;
    height: 15.5px;
}
.apartamento-imagem{
    width: 355px;
    height: 254px;
    border-radius: 24px;
    background-color: bisque;
}
.estrelinha-pontuacao-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}
.estrelinha-pontuacao{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.estrelinha-pontuacao svg {
    color: red;
    font-size: 20px;

}